.intro {
  width: 984px;
  margin: auto;
}

.intro__title {
  margin-bottom: 40px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  width: 830px;
}

.intro__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  width: 722px;
  height: 136px;
  margin: 0;
}

.intro__subtitle-author {
  text-align: right;
  height: 34px;
  margin-bottom: 32px;
}

.intro__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  width: 720px;
  height: 182px;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .intro {
    width: 720px;
    margin: auto;
  }
  .intro__title {
    width: 720px;
  }
  .intro__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    width: 720px;

    margin: 0;
  }
  .intro__subtitle-author {
    text-align: right;
    height: 34px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    width: 320px;
    height: 960px;
  }

  .intro__title {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    width: 288px;
    margin: 0 auto 10px;
  }

  .intro__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 288px;
    height: 300px;
    margin: 0 auto;
  }

  .intro__subtitle-author {
    text-align: right;
    height: 34px;
  }

  .intro__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    width: 288px;
    height: 442px;
    margin: 0 auto;
  }
}
