.places {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 80px;
}

.places-card {
  width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 48px;
  column-gap: 40px;
}

.places-card__column {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.places-card__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
}

.places-card__teammate {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.places-card__image {
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  width: 460px;
  height: 460px;
}

.places-card__image:hover {
  filter: brightness(0.7);
}

.places-card__button {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  background: linear-gradient(
    90deg,
    rgb(2, 120, 254) 0%,
    rgb(0, 58, 123) 99.98%
  );
  width: 289px;
  height: 48px;
  border-radius: 4px;
  border: none;
  box-shadow: 5px 5px 10px #00000040;
}

.places-card__button:hover {
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

.places-card__text {
  margin: 0;
}

.places-card__author {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
}

.places-card__description {
  font-size: 18px;
  line-height: 29.34px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .places {
    grid-gap: 75px;
  }

  .places-card {
    width: 720px;
    row-gap: 48px;
    column-gap: 28px;
  }

  .places-card__title {
    font-size: 42px;
    line-height: 46px;
  }

  .places-card__image {
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    width: 340px;
    height: 340px;
  }

  .places-card__description {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
    grid-gap: 75px;
  }

  .places-card {
    width: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .places-card__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
  }

  .places-card__image {
    width: 320px;
    height: 320px;
  }

  .places-card__description {
    font-size: 16px;
    line-height: 26px;
  }

  .places-card__button {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    width: 288px;
    align-self: center;
  }
}
